/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 54px tall */
body {
  padding-top: 54px;
}


/*
 * Global add-ons
 */

.sub-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

/*
 * Sidebar
 */

.sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  bottom: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding: 10px;
  position: fixed;
  top: 54px;
  z-index: 1000;
}
.sidebar .nav {
  margin-bottom: 20px;
}
.sidebar .nav .nav-link {
  padding: .3em .7em;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  border-radius: 50%;
  display: inline-block;
}
