.tipsy-inner { padding: 5px 8px 4px 8px; background-color: #0069D6; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
.db-wrapper {
vertical-align: top;
}
.rating {
font-size:9px;
}
.content {
margin-left: 2px !important;
width: 99%;
}
#results {
width: 750px;
}
#ad {
margin: 55px 0 0 800px;
position: fixed;
}
#adadv {
margin: 55px 0 0 1300px;
position: fixed;
}
.smlogo {
width: 16px;
height: 16px;
background: url('//podupti.me/img/smlogo.png') 0 0;
display: inline-block;
}
#twitter {
background-position: 0 -776px;
}
#facebook {
background-position: 0 -824px;
}
#tumblr {
background-position: 0 -792px;
}
#wordpress {
background-position: 0 -656px;
}
#xmpp {
background-position: 0 -656px;
display: inline-block;
}
.morehover {
display: inline-block;
font-size: 10px;
vertical-align: super;
}
#map { height: 580px; }
.mycluster {
width: 35px;
height: 35px;
background-color: blue;
text-align: left;
font-size: 17px;
background: url("js/images/marker-icon-2x.png") repeat-y right bottom;
background-size: 25px 37px;
}
.icon {
color: red;
}

