body {
  padding-top: 54px;
}
.sub-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  bottom: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding: 10px;
  position: fixed;
  top: 54px;
  z-index: 1000;
}
.sidebar .nav {
  margin-bottom: 20px;
}
.sidebar .nav .nav-link {
  padding: .3em .7em;
}
.main {
  padding: 20px;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  border-radius: 50%;
  display: inline-block;
}
.rating {
font-size:9px;
}
.tfont {
font-size:12px;
}
.smlogo {
width: 16px;
height: 16px;
background: url('/images/smlogo.png') 0 0;
display: inline-block;
margin: 0 2px;
}
.smlogo-twitter {
background-position: 0 -776px;
}
.smlogo-facebook {
background-position: 0 -824px;
}
.smlogo-tumblr {
background-position: 0 -792px;
}
.smlogo-wordpress {
background-position: 0 -656px;
}
.smlogo-xmpp {
background: none;
}
.smlogo-xmpp img {
vertical-align: unset;
}
#map { height: 580px; }
.mycluster {
width: 35px;
height: 35px;
background-color: blue;
text-align: left;
font-size: 17px;
background: url('/bower_components/leaflet/dist/images/marker-icon-2x.png') repeat-y right bottom;
background-size: 25px 37px;
}
.icon {
color: red;
}
table { 
empty-cells: show; 
}
#facebox {
z-index: 1000 !important;
}
#facebox .content {
width: 800px !important;
}
.tablesorter-header {
background-size: 10px 15px !important;
}

