<?php
/**
 * Config for Poduptime.
 */

declare(strict_types=1);

//backup directory - full dir path
$backup_dir = '/backup';

//log directory - full dir path
$log_dir = '/log';

//location of pg dump - full dir path
$pg_dump_dir = '/usr/bin';

//db host
$pghost = 'localhost';

//db username
$pguser = '';

//db password
$pgpass = '';

//db name
$pgdb = '';

//admin email for forms
$adminemail = '';

//DNS server for dnssec testing. 1.1.1.1 tests the best
$dnsserver = '';

//CA for curl to use - full file path (pull.sh will update monthly to this directory as cacert.pem)
$cafullpath = '';

//Mapbox.com API key. https://www.mapbox.com/help/how-access-tokens-work/
$mapboxkey = '';

//Geolite2-city database file in mmdb format - full file path (pull.sh will update monthly to this directory as GeoLite2-City.mmdb)
$geoip2db = '';