<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Poduptime Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="PHPUNIT_TEST" value="true" />
    </php>

    <!--filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter-->
</phpunit>
